# Python (3.7+) pacakge requirements for Ansible
#
# Create a new venv, activate it and install the modules (linux):
#     python3 -m venv ./venv
#     . venv/bin/activate
#     pip install -r requirements.txt
#

ansible-core==2.12
paramiko==2.10

# ansible-lint
